{% extends "base.html" %}

{% block content %}
<section id="wrapper">
    <article>
        <h1>Devin Eldreth</h1>
        <br>
        <p>
            I'm a full stack web developer, father, and tinkerer of many shiny things.
            I have a passion for data visualization, computational physics, and fire performance.
            Since 2004 I've been developing with php, but recently I've shifted my focus
            to python and javascript (specifically react).
        </p>

        <p>
            <h1>Find me on...</h1>
        <p>

        <p>
            <a href='http://github.com/deldreth'>Github</a>
        </p>

        <p>
            <a href='https://www.linkedin.com/in/devin-eldreth-31163513'>LinkedIn</a>
        </p>
    </article>

	{% block footer %}
		<footer id="footer">
			<p class="small">deldreth.com</p>
		</footer>
	{% endblock footer %}
</section>
{% endblock %}
